body {
    text-align: center;
    color: aliceblue;
    background-image: url(./img/bg.jpg);
    background-size: cover;
}

.quadrado {
    text-align: center;
    width: 50px;
    background-color: rgba(238, 238, 238, 0.5);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
}

.jogador,
.vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background: #fafbfc;
    cursor: pointer;
    color: rgb(8, 8, 8);
}

.div1 {
    color: rgba(240, 248, 255, 0.010);
}

.div2 {
    color: rgba(240, 248, 255, 0.010);
}

.div3 {
    color: rgba(240, 248, 255, 0.010);
}